# ==========================================
# 3. 測試環境 (Test)
# 啟動參數: --spring.profiles.active=test
# ==========================================
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:sql_console_test;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    show-sql: true
